/*
Aufgabe: Aufgabe 5, WKB Assoziative Arrays
Name: Veronika Garbero
Matrikel: 256581
Datum: 23.11.2018
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
*/

		/* Schriften */
		
		@import 
		url('https://fonts.googleapis.com/css?family=Poiret+One');
		
		@import
		url('https://fonts.googleapis.com/css?family=Satisfy');
	
		@import 
		url('https://fonts.googleapis.com/css?family=Marck+Script|Petit+Formal+Script');


body, html {
	height: 100%;
    margin: 0;
}


/* Hintergrundbild HTML */

.hero-image {
  background-image: url("pics/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.80;
}

/* Text-Box */

.box {
	border: 1px solid black;
	height: 250px;
	width: 99.75%;
	background: #b5cee3;
	float: left;
	position: relative;
	top: 175px;
}

/* Gestalte deinen eigenen Weihnachtsbaum */

.hero-text {
  text-align: center;
  position: absolute;
  font-family: 'Satisfy', cursive;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

/* Button Los geht´s */

.button {
  border: none;
  border-radius: 4px;;
  outline: 0;
  display: inline-block;
  padding: 15px 25px;
  color: black;
  background-color: grey; 
  text-align: center;
  text-decoration: none;
  font-family: 'Poiret One', cursive;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:hover {
  background-color: #ad5d5d;
  color: white;
}

/* Schneeflocken */

.snow1 {
	background: url("pics/snow.png");
	background-repeat: repeat;
	width: 100%;
	height: 460px;
	position: absolute;
	top: 0;
	left: 0;
	animation: animateOne 10s infinite linear;
	z-index: 1;
}

.snow2 {
	background: url("pics/snow2.png");
	background-repeat: repeat;
	width: 100%;
	height: 460px;
	position: absolute;
	top: 0;
	left: 0;
	animation: animateTwo 10s infinite linear;
	z-index: 2;
	background-size: 300px;
}

.snow3 {
	background: url("pics/snow3.png");
	background-repeat: repeat;
	width: 100%;
	height: 460px;
	position: absolute;
	top: 0;
	left: 0;
	animation: animateThree 10s infinite linear;
	z-index: 3;
	background-size: 600px;
}

@keyframes animateOne {
	0% {
	background-position: 0px 0px }
	100% {
	background-position: 100px 650px}
}

@keyframes animateTwo {
	0% {
	background-position: 0px -100px }
	100% {
	background-position: 0px 650px}
}

@keyframes animateThree {
	0% {
	background-position: 0px 100px }
	100% {
	background-position: 300px 650px}
}

