/*
Aufgabe: Aufgabe 10, FormElements: Weihnachtsbaumkonfigurator
Name: Veronika Garbero
Matrikel: 256581
Datum: 30.12.2017
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
*/

		@import
			url('https://fonts.googleapis.com/css?family=Arima+Madurai');



html {
  background-image: url("whitechristmas1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.65;
}


/* -------------------- LOGIN */

h1 {
	position: absolute;
	left: 50px;
	top: 73px;
	font-size: 20px;
	font-family: 'Arima Madurai', cursive;
	color: black;
}


/* Bordered form */
form {
    border: 2px solid grey;
    background-color: white;
    opacity: 0.80;
    text-align: center;
    position: relative;
    top: 120px;
    left: 350px;
    width: 50%;
    font-size: 15px;
    font-family: 'Arima Madurai', cursive;
}



/* Full-width inputs */
input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 15px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    font-family: 'Arima Madurai', cursive;
    font-size: 10px;
}

/* Set a style for all buttons */
button {
    background-color: black;
    font-family: 'Arima Madurai', cursive;
    font-size: 13px;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}



/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}


/* --------------------- SIGN UP */

/* Float signup buttons and add an equal width */
.signupbtn {
    background-color: black;
    font-family: 'Arima Madurai', cursive;
    font-size: 13px;
    color: white;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}
		
		



 
