/*
Aufgabe: Aufgabe 10, FormElements: Weihnachtsbaumkonfigurator
Name: Veronika Garbero
Matrikel: 256581
Datum: 30.12.2017
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
*/

			@import
			url('https://fonts.googleapis.com/css?family=Arima+Madurai');
			
			@import 
		    url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
	display: block;
	vertical-align: top
}

input[type="radio"], input[type="checkbox"], label {
	display: inline;
}


label::after {
	content:"";
	display: block;
}

head {
	display: none;
}

input:invalid {
	background: red;
}
input:valid {
	background: white;
}

input:required {
	background: #aaaaaa;
}

svg, figure, button, option {
	display: inline;
	margin: 0px;
	padding: 0px;
}


/* ---------------- Verschiedene Baumarten */

.baumarten {
	position: absolute;
	left: 50px;
	top: 120px;
	font-size: 20px;
	color: black;
	font-family: 'Arima Madurai', cursive;
	
}

/* ---------------- Weisser Weihnachtsbaum */

#fieldset1 {
	position: absolute;
	top: 200px;
	left: 60px;
	width: 200px;
	height: 80px;
}

.baum1 {
	position: absolute;
	top: 0px;
	left: 250px;
	width: 45%;
	border: 1px solid black;
}

/* ---------------- Berkshire Bergtanne */

.baum2 {
	position: absolute;
	top: 0px;
	left: 360px;
	width: 43%;
	border: 1px solid black;
}

/* ---------------- Alpen Tanne */


.baum3 {
	position: absolute;
	top: 0px;
	left: 465px;
	width: 43%;
	border: 1px solid black;
}

/* ---------------- Nordmanntanne */


.baum4 {
	position: absolute;
	top: 0px;
	left: 570px;
	width: 46%;
	border: 1px solid black;
} 


/* ---------------- Schmuckartikel */

.schmuckartikel {
	position: absolute;
	left: 50px;
	top: 370px;
	font-size: 20px;
	color: black;
	font-family: 'Arima Madurai', cursive;
}

/* ---------------- Einfarbige Kugeln */

#checkbox1 {
	position: absolute;
	top: 430px;
	left: 80px;
	width: 180px;
	height: 250px;
}

.kugel1 {
	position: absolute;
	top: -10px;
	left: 210px;
	width: 40%;
	border: 1px solid black;
}

.kugel2 {
	position: absolute;
	top: 79px;
	left: 210px;
	width: 40%;
	border: 1px solid black;
}

.kugel3 {
	position: absolute;
	top: 170px;
	left: 210px;
	width: 37%;
	border: 1px solid black;
}

/* ---------------- Kugeln mit Muster */


#checkbox2 {
	position: absolute;
	top: 430px;
	left: 450px;
	width: 180px;
	height: 420px;
}

.kugel4 {
	position: absolute;
	top: -10px;
	left: 210px;
	width: 40%;
	border: 1px solid black;
}

.kugel5 {
	position: absolute;
	top: 79px;
	left: 210px;
	width: 37%;
	border: 1px solid black;
}

.kugel6 {
	position: absolute;
	top: 160px;
	left: 210px;
	width: 37%;
	border: 1px solid black;
}

.kugel7 {
	position: absolute;
	top: 250px;
	left: 210px;
	width: 37%;
	border: 1px solid black;
}

.kugel8 {
	position: absolute;
	top: 340px;
	left: 210px;
	width: 45%;
	border: 1px solid black;
}

/* ---------------- Schleifen */


#checkbox3 {
	position: absolute;
	top: 430px;
	left: 810px;
	width: 180px;
	height: 180px;
}

.schleife1 {
	position: absolute;
	top: -10px;
	left: 210px;
	width: 40%;
	border: 1px solid black;
}

.schleife2 {
	position: absolute;
	top: 79px;
	left: 210px;
	width: 37%;
	border: 1px solid black;
}

/* ---------------- Lichterketten */

#select {
	position: absolute;
	top: 800px;
	left: 80px;
	width: 12%;
	height: 3%;
}

.lichterketten {
	position: absolute;
	top: 750px;
	left: 80px;
	color: black;
	font-size: 18px;
	font-family: 'Arima Madurai', cursive;
}




/* ---------------- Halterungen */

.halterungen {
	position: absolute;
	left: 800px;
	top: 120px;
	font-size: 20px;
	color: black;
	font-family: 'Arima Madurai', cursive;
}

/* ---------------- Gusseisen-Halterung */

#fieldset2 {
	position: absolute;
	top: 200px;
	left: 800px;
	width: 130px;
	height: 45px;
}

.halterung1 {
	position: absolute;
	top: 0px;
	left: 170px;
	width: 95%;
	border: 1px solid black;
}

/* ---------------- Aluminium-Halterung */


.halterung2 {
	position: absolute;
	top: 0px;
	left: 330px;
	width: 100%;
	border: 1px solid black;
} 



/* ---------------- Lieferadresse */

#lieferadresse {
	position: absolute;
	top: 1030px;
	left: 500px;
	width: 20%;
	border: 1px solid grey;
}

#adresse {
	position: absolute;
	left: 0px;
	top: -50px;
	font-size: 20px;
	color: black;
	font-family: 'Arima Madurai', cursive;
}

/* ---------------- Lieferoptionen */

#selectopt {
	position: absolute;
	top: 1050px;
	left: 850px;
	width: 12%;
	height: 3%;
}


.lieferoptionen {
    position: absolute;
	top: 1010px;
	left: 850px;
	color: black;
	font-size: 18px;
	font-family: 'Arima Madurai', cursive;
}


