/*
Aufgabe: 2, UNO
Name: Veronika Garbero
Matrikel: 256581
Datum: 25.10.2018

Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
*/

		@import 
		url('https://fonts.googleapis.com/css?family=Catamaran|Harmattan|Kite+One|Pavanam');
		
		
		
html {
	background-color: #f6f6f6;
}

body {
	height:630px;
	background: linear-gradient(to bottom, #c1c1bf 50% , #dfdccd 50%);
	background-repeat: no-repeat;
}

#deck {
	position: relative;
	height: 20px;
	background-color: black;
	color: white;
	font-size: 30px;
	font-family: 'Kite One', sans-serif;
	border: 3px solid white;
	border-radius: 6%;
	padding: 9% 9% 10% 1%;
	margin: 3% 0% 0% 4%;
	max-width: 38px;
	text-align: center;
	float: left;
	top: -25px;
}


#ablage {
	position: relative;
	height: 20px;
	background-color: black;
	color: white;
	font-size: 27px;
	font-family: 'Kite One', sans-serif;
	border: 3px solid white;
	border-radius: 6%;
	padding: 9% 9% 10% 1%;
	margin: 3% 0% 0% 13%;
	max-width: 38px;
	text-align: center;
	float: left;
	top: -25px;
}


