/*
Aufgabe: 2, UNO
Name: Veronika Garbero
Matrikel: 256581
Datum: 25.10.2018

Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.
*/

		@import 
		url('https://fonts.googleapis.com/css?family=Catamaran|Harmattan|Kite+One|Pavanam');
		
		
		
body, html {
	background: url(../test/HG.png) repeat center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	font-family: 'Kite One', sans-serif;
}


#desk {
	width: 80%;
	position: absolute;
	top: 28px;
	left: 10%;
	margin: 0;
	border: solid 3px #fff;
	border-radius: 20px;
	height: 321px;
}

#ablagestapel, .text {
	background: rgba(255, 255, 255, 0.3);
	/*cursor: default; */
}


.text {
	/*background: rgba(255, 255, 255, 0.3);*/
	width: 164px;
	height: 2px;
	padding: 4px 10px 28px 10px;
	float: left;
	border-radius: 10px;
	border: solid 3px #fff;
	margin: 28px 0 0 200px;
	text-align: center;
}



#deck {
	position: relative;
	border-radius: 6%;
	padding: 0;
	margin: 3.5% 0 0 -46%;
	width: 23.5%;
	float: left;
	left: -17.8px;
	transition: transform .2s; /* Animation */
	cursor: pointer;
}

#deck:hover {
    transform: scale(0.95);
}


#ablagestapel {
	position: relative;
	border-radius: 6%;
	padding: 0;
	margin: 4.9% 0 0 -20.5%;
	width: 23%;
	float: left;
	left: 29px;
	border: 2px solid white;
	height: 43.5%;
}


#button {
	position: relative;
	border-radius: 6%;
	border: 2px solid white;
	padding: 0;
	margin: 22% 0 0 0;
	width: 11%;
	float: left;
	left: 188px;
	font-size: 18px;
	font-family: 'Kite One', sans-serif;
	background: rgba(255, 255, 255, 0.3); 
	color: #fff;
	cursor: pointer;
}


